.LogInForm {
    width: 600px;
    height: 200px;
    border: 0.5px solid black;
    border-radius: 24px;
    text-align: center;
    padding-top: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #3C4048;
}

.LogInTitle{
    font-size: xx-large;
}

.LogInPasswordInput {
    margin-top: 10px;
}

.LogInButton {
    margin-top: 10px;
}

body {
    background-color: #413F42;
}