.frame {
    width: 300px;
    height: 250px;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
}

.page {
    background: teal;
}

.page__current {
    background: darkblue;
}